@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>


    <h1>


        <h2>
        Post
        </h2>
        <p>
        https://hydrogrowthmanager.azurewebsites.net/Automation/RequestContainers
        </p>
        
    </h1>



@* 
    <h1>
        <h2>
            Test data
        </h2>
        <ul>
            @foreach (var user in Model)
            {
                @foreach (var container in user.Containers)
                {
                    <li>
                        <h3>
                            @container.Name
                        </h3>
                        @foreach (var value in container.Values)
                        {
                                <p>
                                    PH:
                                    @value.Ph
                                </p>
                                <p>
                                    ElectricalConductivity:
                                    @value.ElectricalConductivity
                                </p>
                                <p>
                                    Temperature:
                                    @value.Temperature
                                </p>
                                <p>    
                                    Time:
                                    @value.Time
                                </p>
                        }
                    </li>
                }
            }
        </ul>



 *@



    </h1>